body{
    background-color: rgba(218, 238, 238, 0.379);
    margin: 0;
}

*{
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    border: 0 0 1px 0 ;
    border-bottom: 1px solid #E4E3EB;
    align-items: center;
    padding: 0 76px;
    /* position: fixed; */
    width: 100%;
    background-color: #ffff !important;
    
}

.logo{
    width: 150px;
    height: 24px;
}



.login{
    padding: 10px 20px;
    gap: 10px;
    border-radius: 8px;
    height: 40px;
    background-color: #5D37F3;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: none;
    line-height: 20px;
}

.fullCard{
display: flex;
justify-content: center;
width: 100%;
/* height: 80vh; */
/* overflow-x: hidden; */
padding: 70px;
height: auto;
}

.fullCard > .card > .card-body {
    height: auto !important;
}

.leftArrow, #prevBtn, #nextBtn{
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 100%;
    /* padding: 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
   
}

#prevBtn, #nextBtn{
    margin: 7px;
}


.leftArrow{
    position: relative;
    top: 100px;
    left: 20%;
    cursor: pointer;
}
.leftArrow > img{
    width: 30px;
    height: 30px;
    position: absolute;
}
.cardButtons{
    display: flex;
    flex-wrap: wrap;
}

.similadArticles{
font-size: 32px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
margin: 20px 30px;
display: flex;
justify-content: space-between;
flex-wrap: wrap !important;
}


.similadArticles .sliderBtns .scrollLeft, 
.similadArticles .sliderBtns .scrollRight{
    width: 30px;
    height: 30px;
}

.sliderBtns{
display: flex;
justify-content: space-between;
}

.scrollRight{
    transform: rotate(180deg)
}

.similarContent{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    margin: 20px 30px;
}


        .marketsel,
        .applsel,
        .AIsel,
        .UIsel,
        .researchsel,
        .figmasel{
        padding: 8px 12px ;
        border-radius: 30px;
        gap: 8px !important;
        margin: 8px ;
        color: #ffff;
        display: flex;
        flex-wrap: nowrap !important;
        height: 32px !important;
        font-family: FiraGO;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        border: none;
      }


      .fullCard > .card > .card-img-top {
        width: 900px !important;
        height: 600px !important;
        border-radius: 12px;
      }
      .fullCard > .card{
        width: 900px !important;
        height: auto !important;
        border: solid #bcb1b13c 1px;
      }
      .fullCard > .card > .card-body > .card-text{
        height: auto !important;
      }

      .fullCard > .card > .card-body >.seeFullText{
        display: none;
    }






      .marketsel{
        background-color:rgba(255, 184, 47, 1);
   
       
       }
       

      .applsel{
        background: rgba(26, 199, 168, 1);
    }
    
    
  .AIsel{
        background: rgba(183, 31, 221, 1);
        width:auto;
    }
    
   .UIsel{
        background: rgba(220, 40, 40, 1)
    }
    
    .researchsel{
        background: rgba(96, 190, 22, 1)
    }
    
    .figmasel{
        background: rgba(26, 199, 168, 1)
    }
.blogTitle{
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    
    
    .coverImg{
    width: 624px;
    height: 200px;
    top: 144px;
    left: 740px;
    }
    
    .errmsg{
        visibility: hidden;
        font-size: 12px;
        line-height: 20px;
        color:rgba(234, 25, 25, 1);
        display: flex;
        align-items: center;
        margin-top: 8px;
    }
    
    .warningicon{
        margin-right: 8px;
    }
    
    .card-body{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .card{
        border: none !important;
        margin-bottom:56px ;
        border: solid #bcb1b13c 1px !important;
        padding: 10px;
    }
    
    .card-title{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    
    .published{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: rgba(133, 133, 141, 1);
    }
    
    .title{
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }
    
    .card-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(64, 64, 73, 1)
    }
    
    .cardsSection{
        padding: 64px 76px;
    }
    
    .col{
        display: flex;
        justify-content: center;
    }
    


    .similarContent > .card > .card-body >.card-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(64, 64, 73, 1)
    }

    .similarContent > .card > .card-body > .card-text {
        max-height: 3.5em;
        overflow: hidden;
        position: relative;
      }

      
      
      .similarContent > .card > .card-body >.card-text::after {
        content: '...'; 
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: white; 
      }