
@font-face{
    font-family: 'FiraGO';
    src:url(./fonts/Download_Folder_FiraGO_1001/Fonts/FiraGO_WEB_1001/Roman/FiraGO-medium.woff) format('woff'),
    url(./fonts/__MACOSX/Download_Folder_FiraGO_1001/Fonts/FiraGO_WEB_1001/Roman/._FiraGo-medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'FiraGO';
}

body{
    margin: 0;
    padding: 0;
    height: 1080px;
    width: 1920px;
    position: relative;
    
    
   
}


/* ჰედერი */

.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    border: 0 0 1px 0 ;
    border-bottom: 1px solid #E4E3EB;
    align-items: center;
    padding: 0 76px;
    /* position: fixed; */
    
}

.logo{
    width: 150px;
    height: 24px;
}



.login{
    padding: 10px 20px;
    gap: 10px;
    border-radius: 8px;
    height: 40px;
    background-color: #5D37F3;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: none;
    line-height: 20px;
}

/* ლოგინის ფორმა */



.signInDiv{
    position: absolute;
    top: 314px ;
    left: calc(50% - 240px);
    display: flex;
    flex-direction: column;
    width: 480px;
    background: rgba(255, 255, 255, 1);
    padding: 40px 0;
    border-radius: 12px;
    display: none;
    
    opacity: 1 !important;
    
}



.signtitle{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    align-self: center;
    color: rgba(26, 26, 31, 1);
   
}

.signinForm{
    margin: 24px;
}

.emailtitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(26, 26, 31, 1);
}

.emailInput{
    padding: 12px 0 12px 16px;
    width: 100%;
    border-radius: 12px;
    border: solid 1.5px rgba(93, 55, 243, 1);
    background-color: rgba(247, 247, 255, 1);
    box-sizing: border-box;
    
}

::placeholder{
    color: rgba(133, 133, 141, 1);
}

.emailInput:focus{
    outline: solid 1.5px rgba(93, 55, 243, 1);
    border: none;
}

.loginBtn{
    border-radius: 8px;
    background-color: rgba(93, 55, 243, 1);
    padding: 10px 20px;
    gap: 10px;
    box-sizing: border-box;
    margin: 0 24px;
    border: none;
    color: rgba(255, 255, 255, 1);
}

.imgdiv{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.crossmark{
    width: 24px;
    height: 24px;
    
}


/* successMessage */

.successDiv{
    position: absolute;
    top: 314px ;
    left: calc(50% - 240px);
    display: flex;
    flex-direction: column;
    width: 480px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 24px;
    border-radius: 12px;
    align-items: center;
  display: none;
}


.tickcircle{
    width: 64px;
    height: 64px;
}

.ok{
    margin-top: 48px;
    width: 100%;
    box-sizing: border-box;
}

.succsessMsg{
margin-top: 16px;
font-size: 20px;
font-weight: 700;
line-height: 28px;

}

/* ქოვერის ნაწილი */

.coverSection{
    display: flex;
    justify-content: space-between;
    padding: 114px 76px 64px;
    background: rgba(243, 242, 250, 1);
}

.sortBtnsSec{
    display: flex;
    justify-content: center;
    background-color: rgba(243, 242, 250, 1);
}

/* სორტირების ღილაკები */

.market,
.appl,
.AI,
.UI,
.research,
.figma
{
padding: 8px 16px;
border-radius: 30px;
gap: 10px;
font-weight: 500;
line-height: 16px;
border:none;
margin-left: 24px;
}

.market{
 background-color:rgba(255, 184, 47, 0.08);
 color: #D6961C;
 margin: 0;

}

.appl{
    background: rgba(28, 214, 125, 0.08);
    color: rgba(21, 201, 114, 1);
}


.AI{
    background: rgba(238, 225, 247, 1);
    color:rgba(183, 31, 221, 1)
}

.UI{
    background: rgba(250, 87, 87, 0.08);
    color:
    rgba(220, 40, 40, 1)
}

.research{
    background: rgba(233, 239, 233, 1);
    color:
    rgba(96, 190, 22, 1);
}

.figma{
    background: rgba(8, 210, 174, 0.08);
    color:rgba(26, 199, 168, 1)
}


.blogTitle{
font-size: 64px;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
text-align: left;

}


.coverImg{
width: 624px;
height: 200px;
top: 144px;
left: 740px;
}

.errmsg{
    visibility: hidden;
    font-size: 12px;
    line-height: 20px;
    color:rgba(234, 25, 25, 1);
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.warningicon{
    margin-right: 8px;
}