body{
    background-color: rgba(218, 238, 238, 0.379);
    margin: 0;
}

*{
    box-sizing: border-box !important;
}







@media screen and(max-width: 768px) {
    .leftArrow{
        position: relative;
        top: 50px !important;
        left: 10px !important;
        cursor: pointer;
    }
    /* .similarContent{
        padding: 50px 0 !important;
    }

    .fullCard{
        padding: 50px 10 !important;
    } */

}



.fullCard{
width: 100% !important;
display: flex;
justify-content: center !important;
width: 70vw;
padding: 10px;
height: auto;
}


.fullCard .card{
width: 70vw !important;
height: auto !important;
border: solid #bcb1b13c 1px;
}

.fullCard .card-img-top{
width: 100%;
height: 70vh;
border-radius: 12px;
}

.fullCard  .card  .card-body {
    height: auto !important;
}

.fullCard  .card  .card-body .card-text {
    height: auto !important;
    content: '';
}

.leftArrow, #prevBtn, #nextBtn{
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    z-index: 1;
   
}

#prevBtn, #nextBtn{
    margin: 7px;
}


.leftArrow{
    position: relative;
    top: 100px;
    left: 20%;
    cursor: pointer;
}
.leftArrow > img{
    width: 30px;
    height: 30px;
    position: absolute;
}

.fullCard .card .card-body .seeFullText{
    display: none;
}


.cardButtons{
    display: flex;
    flex-wrap: wrap;
}

.similadArticles{
font-size: 32px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
margin: 20px 30px;
display: flex;
justify-content: space-between;
flex-wrap: wrap !important;
}


.similadArticles .sliderBtns .scrollLeft, 
.similadArticles .sliderBtns .scrollRight{
    width: 30px;
    height: 30px;
}

.sliderBtns{
display: flex;
justify-content: space-between;
}

.scrollRight{
    transform: rotate(180deg)
}

.similarContent{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

        .marketsel,
        .applsel,
        .AIsel,
        .UIsel,
        .researchsel,
        .figmasel{
        padding: 8px 12px ;
        border-radius: 30px;
        gap: 8px !important;
        margin: 8px ;
        color: #ffff;
        display: flex;
        flex-wrap: nowrap !important;
        height: 32px !important;
        font-family: FiraGO;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        border: none;
      }

      .marketsel{
        background-color:rgba(255, 184, 47, 1);
       }
       
      .applsel{
        background: rgba(26, 199, 168, 1);
    }
    
  .AIsel{
        background: rgba(183, 31, 221, 1);
        width:auto;
    }
    
   .UIsel{
        background: rgba(220, 40, 40, 1)
    }
    
    .researchsel{
        background: rgba(96, 190, 22, 1)
    }
    
    .figmasel{
        background: rgba(26, 199, 168, 1)
    }

    
   
   
    .similarContent .card .card-body{
        padding-left: 0 !important;
        padding-right: 0 !important;
        
    }
    
    .similarContent .card{
        border: none !important;
        margin-bottom:56px ;
        border: solid #bcb1b13c 1px !important;
        padding: 10px;
         }
    
    .similarContent .card .card-body .title{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    
    .similarContent .card .card-body .published{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: rgba(133, 133, 141, 1);
    }
    
    /* .title{
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    } */
    
    .similarContent .card .card-body .card-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(64, 64, 73, 1)
    }
    
 
    
    .col{
        display: flex;
        justify-content: center;
     }
    

.similarContent{
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    flex-wrap: wrap;
    height: auto !important;
}

/* .similarContent .card{
    margin: 50px ;
} */

    .similarContent  .card  .card-body  .card-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(64, 64, 73, 1);
        max-height: 3.5em;
        overflow: hidden;
        position: relative;
      }

      
      
      .similarContent  .card  .card-body .card-text::after {
        content: '...'; 
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: white; 
      }

      .container-fluid{
        display: flex;
        justify-content: center;
      }
